.user_details {
  height: 200px;
  width: 350px;
  margin-bottom: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d3d3d3;
  text-align: start;
  background-color: #fff;

  img {
    height: 80%;
    border-radius: 10px;
    float: left;
    margin: 10px;
  }

  .user_details_text {
    a {
      color: #20aae5;
      margin: auto;
    }

    word-break: break-all;
    margin: auto;
  }
}
